/* screens smaller than 1000---------------------------------------------------------- */
@media only screen and (max-width:999px) {

  /*layout*/
  /*------------------------------------------------------------------------------*/
  .inner01 {
    width: 89.333%;
  }

  .pc {
    display: none !important;
  }

  .pc_tb {
    display: block;
  }

  .tel {
    pointer-events: auto;
  }

.line_btn a{
font-size: 18px;
padding: 15px 0;
}



  /*header*/
  /*------------------------------------------------------------------------------*/
  #header_in {
    width: 89.333%;
  }

  #logo img {
    max-width: 350px;
    width: 100%;
  }

  /*title*/
  /*------------------------------------------------------------------------------*/
  .title02 {
    margin-bottom: 20px;
    font-size: clamp(52px, 12vw, 90px);
    line-height: 1.4;
    color: #00005A;
    text-align: center;
  }

  .title02 .sub {
    font-size: clamp(24px, 4vw, 32px);
    text-wrap: balance;
  }

  /*mv*/
  /*------------------------------------------------------------------------------*/
  #mv .inner01 {
    padding: clamp(6.25rem, 3.924rem + 11.628vw, 9.375rem) 0 10vw;
  }

  /*progress*/
  /*------------------------------------------------------------------------------*/
  #progress .txt01 {
    font-size: clamp(1.125rem, 0.375rem + 1.6vw, 1.375rem);
  }

  /*CONTACTFORM*/
  /*------------------------------------------------------------------------------*/
  #contact table,
  #contact table th,
  #contact table td {
    display: block;
    width: 100%;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  #contact table th {
    padding: 0;
  }

  #contact table td {
    padding: 0.2em 0 1em;
  }


  /*footer*/
  /*------------------------------------------------------------------------------*/
  footer{
  padding-bottom: 15vw;
  }
  .footer_in {
    width: 89.333%;
  }


#fnavi.show{
bottom: 0;
left: 0;
right: 0;
z-index: 999;
opacity: 1;
}
#fnavi ul{
margin: 0;
padding: 0;
padding: 1vw;
display: flex;
justify-content: space-between;
background: #00005A;
}
#fnavi ul li{
list-style: none;
width: 33%;
}
#fnavi ul li a{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
text-align: center;
font-weight: bold;
padding: 20px 5px;
border-radius: 5px;
line-height: 1em;
background: #f8e800;
}
#fnavi ul li a span{
display: table;
width: 100%;
font-size: 0.8em;
font-weight: normal;
}

  /*------------------------------------------------------------------------------*/
}

/*------------------------------------------------------------------------------*/


@media only screen and (min-width:751px) and (max-width:999px) {

  /*layout*/
  /*------------------------------------------------------------------------------*/
  .pc {
    display: none;
  }

  .tb {
    display: block;
  }

  .pc_tb {
    display: block;
  }

  .tb_sp {
    display: block;
  }

  /*------------------------------------------------------------------------------*/
}

/*------------------------------------------------------------------------------*/


/* screens smaller than 750---------------------------------------------------------- */
@media only screen and (max-width:750px) {

  /*layout*/
  /*------------------------------------------------------------------------------*/
  .sp {
    display: block;
  }

  .pc {
    display: none;
  }

  #machine .machine_box {
    width: 100%;
  }

  .pc_tb {
    display: none;
  }

  .tb {
    display: none;
  }

  .tb_sp {
    display: block;
  }

  /*header*/
  /*------------------------------------------------------------------------------*/
  #logo {
    width: 75%;
  }

  #h_tel_sp {
    width: 20%;
  }

  /*title*/
  /*------------------------------------------------------------------------------*/
  .title01 {
    font-size: clamp(3.125rem, -0.596rem + 18.605vw, 8.125rem);
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 0.5em;
  }

  .title01 .sub {
    font-size: clamp(1.125rem, 0.567rem + 2.791vw, 1.875rem);
    padding-top: 0.5em;
  }

  .title01 .sub::before {
    width: 100%;
  }

  .title_box .subtext {
    font-size: clamp(1rem, 0.535rem + 2.326vw, 1.625rem);
    margin: 0 0 6vw;
  }

  /*btn*/
  /*------------------------------------------------------------------------------*/
  .btn {
    flex-wrap: wrap;
  }

  .btn a {
    margin: 0 0 5.33vw;
    min-width: auto;
    min-width: initial;
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    padding: 3.2vw 1em;
    font-size: clamp(1.125rem, 0.288rem + 4.186vw, 2.25rem);
    font-weight: bold;
  }

  .btn a:last-of-type {
    margin: 0;
  }

  /*mv*/
  /*------------------------------------------------------------------------------*/
  #mv h2 {
    font-size: clamp(34px, 8vw, 60px);
  }

  #mv h2 .sub01 {
    font-size: clamp(24px, 5vw, 38px);
  }

  #mv h2 .sub02 {
    font-size: clamp(74px, 16vw, 120px);
  }

  #mv .txt {
    text-align: left;
    font-size: clamp(16px, 4vw, 30px);
  }

  /*progress*/
  /*------------------------------------------------------------------------------*/
  #progress .in {
    display: block;
    padding: 20px 0 30px;
  }

  #progress .box {
    width: 100%;
    margin-right: 0;
    margin-bottom: clamp(30px, 6vw, 50px);
  }

  #progress .img_box {
    text-align: center;
  }

  #progress .txt01 {
    font-size: clamp(24px, 4.2vw, 32px);
  }

  /*reason*/
  /*------------------------------------------------------------------------------*/
  #reason {
    padding: 5px 0 50px;
  }

  #reason .box {
    display: block;
    padding: 7% 5% 5%;
    margin-bottom: 20px;
  }

  #reason .txt_box {
    width: 100%;
    margin-bottom: 20px;
  }

  #reason .img_box {
    width: 100%;
  }

  #reason .txt01 {
    font-size: clamp(22px, 3.7vw, 28px);
  }

  /*cta*/
  /*------------------------------------------------------------------------------*/
  .cta {
    padding: 11.33vw 0 8vw;
  }

  .thanks .cta {
    padding: 140px 0 40px;
  }

  .cta .headline {
    font-size: clamp(1.188rem, 0.025rem + 5.814vw, 2.75rem);
    margin: 0 0 0.5em;
  }

  .cta p {
    font-size: clamp(1.125rem, 0.753rem + 1.86vw, 1.625rem);
    margin: 0 0 1.5em;
    text-align: left;
  }


  /*WORKS*/
  /*------------------------------------------------------------------------------*/
  #works {
    padding: 6.67vw 0;
  }

  .works_title {
    font-size: clamp(1.125rem, 0.567rem + 2.791vw, 1.875rem);
    padding: 0.7em;
  }

  .works_list li {
    line-height: 1.3;
  }

  .works_list .main,
  .works_list .sub {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }

  .works_list .main {
    font-size: clamp(0.875rem, 0.317rem + 2.791vw, 1.625rem);
    padding: 0.2em 0.4em;
  }

  .works_list .sub {
    font-size: clamp(0.75rem, 0.378rem + 1.86vw, 1.25rem);
    padding: 0.2em 0.6em;
    flex-basis: 31.33%;
  }

  #machine {
    padding: 13.33vw 0;
  }

  #machine .machine_list {
    gap: 16px;
  }

  #machine .machine_box {
    width: calc((100% - 16px) / 2);
    padding: 20px 16px;
  }

  #machine .machine_name {
    font-size: clamp(1.125rem, 0.7rem + 2vw, 1.75rem);
  }

  .accordion-menu {
    margin-bottom: 4.8vw;
  }

  .accordion-toggle {
    padding-right: 6.67vw;
  }

  .accordion-toggle::after {
    right: 2.67vw;
  }

  /* slider */
  .works_in {
    width: 89.333%;
    margin: 0 auto 7.2vw;
  }

  .prev-arrow {
    left: 5.33vw;
  }

  .next-arrow {
    right: 5.33vw;
  }

  /*voice*/
  /*------------------------------------------------------------------------------*/
  #voice {
    padding: 5px 0 30px;
  }

  #voice .box {
    width: 100%;
    margin-bottom: 20px;
  }

  #voice .img_box {
    position: relative;
  }

  #voice .txt01 {
    position: absolute;
    top: 20%;
    right: 0;
    display: block;
    font-size: clamp(18px, 4.2vw, 32px);
	text-shadow: 0 0 10px rgba(0,0,0,1);
  }

  #voice .sub01 {
    padding: 0 1em 0.7em 0;
  }

  #voice .sub01:after {
    width: 100%;
    height: 3px;
    transform: none;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
  }

  #voice .sub02 {
    padding: 0.7em 1em 0 0;
  }

  /*STEP*/
  /*------------------------------------------------------------------------------*/
  #step {
    padding: 6.67vw 0;
  }

  .step_list {
    gap: 20px 0;
  }

  .step_item {
    flex-basis: 100%;
  }

  /*OVERVIEW*/
  /*------------------------------------------------------------------------------*/
  #overview {
    padding: 6.67vw 0 2.67vw;
  }

  .caption {
    font-size: clamp(1.125rem, 0.567rem + 2.791vw, 1.875rem);
    padding: 0.7em;
  }

  .js-accordion-toggle {
    position: relative;
    cursor: pointer;
    padding-right: 6.67vw;
    line-height: 1.5;
  }

  .js-accordion-toggle::after {
    content: '▼';
    position: absolute;
    right: 2.67vw;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    font-size: 1em;
    color: #FFF;
  }

  .js-accordion-toggle.is-open::after {
    content: '▲';
  }

  .js-accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    margin-bottom: 8vw;
  }

  .js-accordion-content.is-open {
    max-height: auto;
  }

  .table01,
  .table01 th,
  .table01 td {
    display: block;
    width: 100%;
    text-align: left;
  }

  .table01 th,
  .table01 td {
    font-size: clamp(1rem, 0.535rem + 2.326vw, 1.625rem);
    padding: 1em;
    font-weight: 500;
  }

  .table01 td.btn01 a {
    max-width: auto;
    max-width: initial;
    height: clamp(3.75rem, 1.890rem + 9.302vw, 6.25rem);
    border-radius: clamp(1.875rem, 0.945rem + 4.651vw, 3.125rem);
    ;
    font-size: clamp(1.125rem, 0.474rem + 3.256vw, 2rem);
  }

  /*FAQ*/
  /*------------------------------------------------------------------------------*/
  #faq {
    padding: 6.67vw 0;
  }

  #faq .question p {
    font-size: clamp(1.125rem, 0.381rem + 3.721vw, 2.125rem);
    padding: 2.67vw 5.33vw;
  }

  #faq .answer p {
    font-size: clamp(1rem, 0.535rem + 2.326vw, 1.625rem);
    padding: 0 2.67vw;
  }

  /*CONTACTFORM*/
  /*------------------------------------------------------------------------------*/
  #contact {
    padding: 5.3vw 0 10.67vw;
  }

  #contact table th,
  #contact table td {
    font-size: clamp(1rem, 0.256rem + 3.721vw, 2rem);
  }

  #contact table textarea {
    height: auto;
  }

  #contact table input[type="submit"] {
    width: 100%;
    height: clamp(3.75rem, 0.866rem + 14.419vw, 7.625rem);
    float: none;
    filter: none;
  }

  /*footer*/
  /*------------------------------------------------------------------------------*/
  footer {
    padding: 12vw 0 8vw;
  }

  .footer_in {
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer_box {
    width: 100%;
    text-align: center;
  }

  .footer_box:last-of-type {
    text-align: center;
  }

  .f_logo {
    width: auto;
    margin-bottom: 10.67vw;
  }

  footer h3,
  footer p {
    font-size: clamp(1rem, 0.628rem + 1.86vw, 1.5rem);
  }

  .f_tel {
    margin-bottom: 8vw;
  }

  .f_tel a {
    font-size: clamp(1rem, 0.628rem + 1.86vw, 1.5rem);
    display: inline-block;
  }

  .f_sns {
    display: flex;
    justify-content: space-around;
  }

  .f_sns a {
    margin: inherit;
  }

  .f_sns a:first-of-type img {
    width: auto;
  }

  .f_sns a:last-of-type img {
    width: auto;
  }

  .copy {
    font-size: clamp(1rem, 0.628rem + 1.86vw, 1.5rem);
    margin-top: 9.33vw;
  }

  /*------------------------------------------------------------------------------*/
}

/*------------------------------------------------------------------------------*/
